<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furry Friends</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
 {{!-- <div class="card" style="width: 18rem; margin-left: auto; margin-right: auto; margin-top: 15%">
  <img src="\images\Logo-Furry-Friends-Animation_d6e3b464-d032-47d8-8845-b58a8e07e8c5_1826x.gif" class="card-img-top"
    alt="..." />
  <div class="card-body">
    <div class="login-card">
      <form class="form login-form">
        <div class="form-group">
          <input name="email" for="email-login" class="form-input" type="text" placeholder="Username or Email" id="email-login" />
        </div>
        <div class="form-group">
          <input name="password" for="password-login" class="form-input" placeholder="Password"  type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            Login</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <p>Don't have an account? <a href='/signup'>Sign up!</a></p>
    </div>
  </div>
</div> --}}
{{{body}}}
<script src="/js/login.js"></script>

</body>
</html>