{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body> --}}
    <header>
        <div id="propic">
            <img id="profilePic" src="/test/dogtestpic.jpg">
        </div>
    </header>
    <div id="desc">
        <section id="profileName">
            <p>{{user.user_name}}</p>
        </section>
        <div id="hold">
            <section id="profileBio">
                <p>This is random text jsut to fill in the bio so it will be changed later on when there is going to be more data added. Till then this is a substatuite for the reagular test that should be here.</p>
            </section>
            <section id="profileLinks">
                <p><a href="#">randomlink@gmail.com</a></p>
                <p><a href="#">youtube.com/randomName</a></p>
            </section>
        </div>
    </div>
    <div id="oldPost">
        <div id="examplepost">
            <div id="pichold">
                <img id="postimage" src="/test/dogtestpic.jpg">
            </div>
            <p id="postText">random caption for the example this is going to be changed later on.</p>
            <div id="action">
                <button id="share">Share</button>
                <button id="comments">comments</button>
                <button id="postLikes">Like: 10</button>
            </div>
        </div>
    </div>
{{!-- </body>
</html> --}}