<div class="container">
    <div class="picture-container">
        <div class="picture">
            <img src="public/images/avatar-1577909_1280.png" class="picture-src" id="wizardPicturePreview" title="">
            <input type="file" id="wizard-picture" class="">
        </div>
         <h6 class="">Choose Profile Picture</h6>

    </div>
</div>