<form action="/" method="POST" enctype="multipart/form-data">
    <h3>Upload Profile Photos</h3>\
    <input type="file" name="person" accept="image/*" />
    <input type="submit" class="bt btn-primary">
</form>


<div class="card">
    <img class="card__image" src="public\test\dogtestpic.jpg" alt="User Profile">
    <h1 class="card__title">user</h1>
    <div class="Pets">1</div>
    <p class="about"></p>
    <button type="button" class="btn btn-primary">View Profile</button>

</div>