<div class="wrapper">
    <div class="navbar" id="main-navbar">
        <div class="navbar-inner" id="navbar-inner">
            <div class="nav-col1">
                <div class="button">Home</div>
                <div class="button">messages</div>
            </div>
            <div class="nav-col2">
                <image class="logo1"
                    src="https://image.shutterstock.com/z/stock-vector-silhouette-of-cat-and-dog-on-white-background-671156590.jpg">
                </image>

            </div>
            <div class="nav-col3">
                <div class="profile1"><a href="./login.handlebars">logout</a></div>
            </div>
        </div>
    </div>
    <div class="mainbody" id="mainbody">
        <div class="card">
            <img class="image" src="\images\avatar-1577909_1280.png" alt="User Profile">
            <h5 class="card__title">user</h5>
            <div class="Pets">1</div>
            <p class="about"></p>
            <button type="button" class="btn btn-primary">View Profile</button>
            <br>
            <form action="/" method="POST" enctype="multipart/form-data">
                <h5>Upload Profile Photos</h5>
                <input type="file" name="person" accept="image/*" />
                <input type="submit" class="bt btn-primary">
            </form>
        </div>
        <div class="col2">col 2</div>

        <div class="card3">
            <img class="pet" src="\test\dogtestpic.jpg" alt="pet Profile">
            <br>
            <br>
            <br>
            <form action="/" method="POST" enctype="multipart/form-data">
                <h5>Upload Pet Photo</h5>
                <input type="file" name="person" accept="image/*" />
                <input type="submit" class="bt btn-primary">
            </form>
        </div>

    </div>
</div>

<script src="/js/homedh.js"></script>