<div class="card" style="width: 18rem; margin: auto; margin-top: 20%">
  <img
    src="\images\Logo-Furry-Friends-Animation_d6e3b464-d032-47d8-8845-b58a8e07e8c5_1826x.gif"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <div class="login-card">
      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <p>Don't have an account? <a href='/signup'>Sign up!</a></p>
    </div>
  </div>
</div>
  <script src="/js/login.js"></script>
