<div class="container">
  <div class="picture-container">
    <div class="picture">
      <img
        src="public/images/avatar-1577909_1280.png"
        class="picture-src"
        id="profile_picture"
        title=""
      />
      <input type="file" id="wizard-picture" class="" />
    </div>
    <h6 class="">Choose Profile Picture</h6>
  </div>
</div>
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input
        type="text"
        class="form-control"
        id="validationCustomUsername"
        aria-describedby="inputGroupPrepend"
        required
      />
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="mb-3">
    <label for="Textarea" class="form-label">Bio</label>
    <textarea
      class="form-control"
      id="textArea"
      rows="4"
    ></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>