<header>
    <div id="propic">
        <img id="profilePic" src="/test/dogtestpic.jpg">
    </div>
</header>
<div id="nav">
        <button id="post">Posts</button>
        <button id="friends">Friends</button>
</div>
<div id="friendsList">
    <p>List</p>
</div>
<script src="/js/profile.js"></script>