*{
    padding:0;
    margin: 0;
}

body {
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}

header {
    background-color: cadetblue;
    padding: 2vh 5vw;
    display: flex;
    justify-content: center;
}

#propic{
    border: solid 5px blue;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

#editProfile {
    width: 4%;
    height: 5%;
    border: cornflowerblue 2px solid;
    background-color: cadetblue;
}

#editProfile:active {
    background-color: white;
    color:cadetblue;
}

header img{
    width: 100%;
}

#nav{
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

#nav button{
    width: 10%;
    background-color: cornflowerblue;
    border: none;
    font-size: 115%;
    padding: 2vh 1vw;
}
/* make the active tab work and take to other pages.*/
#nav button:hover{ 
    background-color: white;
    cursor: pointer;
}

#desc{
    width: 80%;
    margin: auto;
    padding: 1vh 1vw;
}

#profileName {
    text-align: center;
    font-size: 150%;
    margin: 1vh 0;
}

#hold{
    display: inline-flex;
    width: 100%;
}

#profileBio{
    width: 60%;
    padding: 3vh 2vw;
    float: left;
}

#profileLinks{
    width: 40%;
    background-color: cornflowerblue;
    padding: 2vh 2vw;
    float: right;
}

#profileLinks p{
    margin:1vh 0;
}

#oldPost{
    width: 65%;
    margin: auto;
    padding: 3vh 4vw;
}

#examplepost{
    width: 90%;
    margin: auto;
    padding: 1vh 1vw;
    background-color: lightgray;
    border: solid 3px grey;
}

#pichold{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2vh 0;
}

#postimage {
    max-width: 70%;
    margin: auto;
    border: solid 3px grey;
}

#postText{
    width: 90%;
    margin: auto;
    background-color: white;
    flex-wrap: wrap;
    padding: 2vh 2vw;
}

#action{
    width: 60%;
    margin: auto;
    padding: 1vh 0;
    display: inline-flex;
}

#action button{
    margin: 0 2vw;
    border: none;
    background: none;
    font-size: 90%;
}

#action button:hover{
    background-color: aqua;
}

/* -------------------------------------------------- */

#addCancel{
    display: inline-flex;
    width: 100%;
}

#cancelbtn{
    width: 10%;
    justify-content: flex-start;
    padding: 1vh 1vw;
}

#cancelbtn:hover {
    background-color: red;
    cursor: pointer;
}

#savebtn {
    width: 12%;
    justify-content: flex-end;
    margin-left: auto;
    padding: 0 1vw;
}

#savebtn:hover {
    background-color: green;
    cursor: pointer;
}

#profileNameEdit {
    width: 100%;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
}

.editTitle{
    font-size: 110%;
    margin: 0 1vw;
}

#newName {
    width: 40%;
    padding: 1vh 1vw;
    font-size: 120%;
}

#profileBioEdit {
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 2vh 2vw;
}

#bioText{
    width: 60%;
    padding: 1vh 1vw;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

#profileLinksEdit {
    width: 100%;
    padding: 2vh 2vw;
}

.flexHold{
    display: flex;
}

#linkList {
    width: 70%;
}

.pair {
    width: 100%;
    display: inline-flex;
    border: grey 3px solid;
    margin-bottom: 1vh;
}

.linksEdit {
    width: 70%;
    padding: 1vh 1vw;
    justify-content: left;
}

.delete {
    width: 20%;
    float: right;
}

#newLink {
    width: 60%;
    margin-left: 10%;
    padding: 1vh 1vw;
    font-size: 100%;
}

#newLinkSubmit {
    padding: 0 .5vw;
    margin: 0 1vw;
}
